<!-- Create your form here -->
<h1>Student Form</h1>
<form method="POST" action="/students">
<input type="text" name="first_name">
<input type="text" name="last_name">
<input type="submit" value="Submit Student">
</form>
