<!-- Create your form here -->
<form method="POST" action="/students">
<h1>Student Form</h1>
<label>Student Name</label>
    <input type="text" name="first_name" value="first name">
    <input type="text" name="last_name" value="last name">
    <br>
    <input type="submit" value="Submit Student">
</form>